<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="jrfeng.simplemusic">

    <permission android:name="jrfeng.simplemusic.permission.RECEIVE_PLAY_ACTION"/>

    <uses-permission android:name="jrfeng.simplemusic.permission.RECEIVE_PLAY_ACTION"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.welcome.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <service android:name="jrfeng.musicplayer.player.MusicPlayerService"/>

        <activity android:name=".activity.scan.ScanActivity">
        </activity>
        <activity android:name=".activity.scan_result.ScannedMusicsActivity"/>

        <receiver
            android:name="jrfeng.musicplayer.player.MediaButtonReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="jrfeng.simplemusic.action.PLAYER_PREVIOUS"/>
                <action android:name="jrfeng.simplemusic.action.PLAYER_PLAY_PAUSE"/>
                <action android:name="jrfeng.simplemusic.action.PLAYER_NEXT"/>
                <action android:name="jrfeng.simplemusic.action.PLAYER_SHUTDOWN"/>
                <action android:name="android.media.AUDIO_BECOMING_NOISY"/>
                <action android:name="android.intent.action.MEDIA_BUTTON"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receiver.ShutdownActionReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="jrfeng.simplemusic.action.SHUTDOWN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>